.DS_Store
.idea/*
.vscode/*
**/__pycache__/*
**/.ipynb_checkpoints/
**/data/*
**/report/*
*.h5
*.pdf
*.zip
*.tar.gz
!**/report/*.tex
!**/report/*.bst
!**/report/*.cls
!**/report/*.bib
!**/report/figures/
!**/report/*.pdf